
{% block content %}
{% if current_user.is_authenticated %} {# ログインしている場合に表示 #}
<h2>Create</h2>
<form action="{{ url_for('mail_send') }}" method="post">
    <label for="message">Message:</label>
    <br>
    <textarea name="content" id="message" placeholder="送信したい内容を入力してください"></textarea>
    <br>
    <input type="submit" value="送信する" />
</form>
{% endif %}

<h2>送信したメール一覧</h2>
    <ul>
        {% for message in messages %}
        <div class="message">
            <li>
                <img src="/static/s1.jpg" alt="ユーザー画像">
                <div class="message-info">
                    <div>{{ message.user.name }} {{ message.pub_date }}</div>
                    <div class="message-content">
                        {{ message.content }}
                    </div>
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>

{% endblock %}




