<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP page</title>
</head>
<body>
  <p style="text-align : center;"><br><br>
  <span style="font-size : 300%;">物品貸し出しアプリ</span><br>
 <br>
 <br>
 <br>
 <br>

 
<p style="text-align : center;"><a href="./login"><img src="/static/button11.gif" width="150" height="35" border="0" alt="ログイン"></a><br>
<br>
<br>
<br>
<br>
<br>

<p style="text-align : right;"><a href="./admin_login">管理画面</a></p>


  <!-- <ul>
    <li><a href="./login">ログイン</a></li>
    <li><a href="./admin_login">管理画面</a></li>
  </ul>

    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}

    
    <!-- {% if current_user.is_authenticated %}
        <p>{{ current_user.name }} さんこんにちは</p> -->
    {% else %}
        <p>ログインしていません</p>
    {% endif %} -->

    
</body>
</html>
