<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>貸出品一覧</title>
</head>

<body>





    <!-- {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %} -->


    {% if current_user.is_authenticated %}
    <p>{{ current_user.name }} さんこんにちは</p>
    {% else %}
    <p>ログインしていません</p>
    {% endif %}

    <h1>貸出品一覧</h1>
    <br>
    <p style="text-align : left;"><a href="/mess">
            使用後の感想一覧
        </a></p>

    <table border="1">
        <tbody>
            <tr>
                <td style="width : 111px;">品名&nbsp;</td>
                <td style="width : 120px;">&nbsp;画像</td>
                <td style="width : 303px;">&nbsp;特徴</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;ビデオカメラ</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s1_video_camera"><img src="/static/s1.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;スピーカ</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s2_speaker"><img src="/static/s2.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;ビデオデッキ</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s3_video_deck"><img src="/static/s3.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;テレビ</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s4_tv"><img src="/static/s4.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;冷蔵庫</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s5_refrigerator"><img src="/static/s5.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;洗濯機</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s6_laundry_machine"><img src="/static/s6.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;電子レンジ</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s7_microwave"><img src="/static/s7.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;炊飯器</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s8_rice_cooker"><img src="/static/s8.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;ドライヤー</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s9_hair_dryer"><img src="/static/s9.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width : 111px;">&nbsp;自転車</td>
                <td style="width : 120px;">&nbsp;<a href="./select/s10_bicycle"><img src="/static/s10.jpg"></a></td>
                <td style="width : 303px;">&nbsp;</td>
            </tr>

        </tbody>
    </table>
    <p><br>
    <p style="text-align : left;"><a href="/logout"><img src="/static/button2.gif" width="160" height="40" border="0"></a></p>

    </p>
    <!-- <ul>
        <li><a href="./select/s1_video_camera">ビデオカメラ</a></li>
        <li><a href="./select/s2_speaker">スピーカ</a></li>
        <li><a href="./select/s3_video_deck">ビデオデッキ</a></li>
        <li><a href="./select/s4_tv">テレビ</a></li>
        <li><a href="./select/s5_refrigerator">冷蔵庫</a></li>
        <li><a href="./select/s6_laundry_machine">洗濯機</a></li>
        <li><a href="./select/s7_microwave">電子レンジ</a></li>
        <li><a href="./select/s8_rice_cooker">炊飯器</a></li>
        <li><a href="./select/s9_hair_dryer">ドライヤー</a></li>
        <li><a href="./select/s10_bicycle">自転車</a></li>
        <li><a href="/logout">logoutしてTOPに戻る</a></li>
        
    </ul> -->


</body>

</html>
