<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MessageBOX</title>
</head>
<body>

  
  

    <h1>ドライヤー</h1>
    <form action="" method="post">
        <label for="start">開始日:</label>
        <br>
        <input type="text" name="start" id="start">

        <br>
        <label for="end">終了日:</label>
        <br>
        <input type="text" name="end" id="end">
        <br>
        <input type="submit" value="検索">
    </form>
</body>
</html>
